@import '../../theme/variables';

.authentication {
  min-height: calc(100vh - 29px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../../images/background-login.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: right bottom;

  img {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    padding: 0 1.25rem 1rem;
  }

  &__content {
    padding: 20px 15px 50px;
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;

    &__window {
      box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.04);
      border-radius: 5px;

      h4 {
        font-family: Filson-Black, serif;
      }
    }
  }

  .card {
    padding: 1.25rem 2.5rem;
    border: none;
  }

  input {
    background-color: $body-bg;
  }

  .input-group-prepend .input-group-text {
    background: none;
    min-width: 50px;

    svg {
      margin: 0 auto;
      color: $color-blue;
    }
  }

  .form-control {
    font-size: 0.95rem;
  }
}
