@import '../../theme/variables';

.Register {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../../images/background-login.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;

  img {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    padding: 0 1.25rem 2.5rem;
  }

  .login-content {
    padding: 20px 15px 50px;
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;

    .login-window {
      box-shadow: 0 3px 10px -4px grey;
      border-radius: 5px;
    }
  }

  .card {
    padding: 1.25rem 2.5rem;
    border: none;
  }

  input {
    background-color: $body-bg;
  }

  .input-group-prepend .input-group-text {
    background: none;
    min-width: 50px;

    svg {
      margin: 0 auto;
      color: $color-blue;
    }
  }

  .form-control {
    font-size: 0.95rem;
  }

  .spacer {
    display: block;
    width: 100%;
    height: 1rem;
  }
}
