@import '../../theme/modules/_breakpoints';
@import '../../theme/variables.scss';

.table {
  &__column {
    width: 19%;
    border-right: 1px solid #e8e8e8;

    &:first-child {
      width: 24%;
      padding: 5px 0;
    }
  }

  &__row {
    &__data {
      font-family: $font-primary;
      font-size: 30px;
      font-weight: 400;
      text-align: right;
      line-height: 1.2;
      margin-top: 10px;
      margin-right: 10px;

      @include max-sm {
        font-size: 22px;
      }

      .number_accent {
        color: $color-accent;

        @include max-xs {
          font-size: 21px;
        }
      }

      span {
        color: $color-accent;
      }
    }

    &__site {
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 2px;
      display: block;
      color: $font-color-dark;
      transition: background .3s, border .3s, color .3s, box-shadow .3s, transform .3s;
      margin-left: 15px;

      &:hover {
        color: #18ECC0;
      }

      @include max-xs {
        font-size: 18px;
      }
    }

    &__date {
      color: #737373;
      margin-left: 15px;

    }

    &__link {
      margin-left: 10px;
      margin-top: -5px;
      vertical-align: 0 !important;
      font-size: 12px !important;
    }

    &__delete {
      margin-left: 15px;
      margin-top: -5px;
      border: none;
      background-color: inherit;
      color: $color-accent;
      cursor: pointer;
      opacity: 0.6;
      padding-top: 7px;
      outline: none;
      line-height: 13px;
      font-size: 14px;
      padding-bottom: 0;
      padding-left: 5px;
      transition: all 0.2s ease-in-out;

      &:hover, &:focus {
        color: rgb(148, 0, 0);
        outline: none;
      }

      @include max-xs {
        font-size: 12px;
      }
    }

    &__subtext {
      opacity: 0.6;
      font-size: 12px;
      text-align: right;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }

  @include max-sm {
    &__column {
      width: auto !important;
    }
  }
}

.trashIcon {
  margin-right: 8px;
}
