.tablerow {
  &__rank {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    font-family: Filson-Black, serif;

    span {
      color: #18ecc0;
    }
  }

  &__category {
    text-align: right;
  }

  &__site {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 3px;
    font-family: 'Karla', sans-serif;
  }
  &__date {
    color: #737373;
    padding-top: 5px;
    margin-bottom: -7px;
  }
  &__delete {
    border: none;
    background-color: inherit;
    color: black;
    cursor: pointer;
    opacity: 0.6;
    padding-top: 7px;
    outline: none;

    &:hover, &:focus {
      color: rgb(148, 0, 0);
      outline: none;
    }
  }
}

.trashIcon {
  margin-right: 8px;
}

.table td {
  cursor: default;
}

.first_table {
  width: 70%;
  padding: 5px 0;
}

.second_table {
  width: 30%;
  border-left: 2px solid #e8e8e8;
}

.RankTable {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.09);
}
