
.tablerow {

  &__rank {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }

  &__category {
    text-align: center;
  }

  &__site {
    font-size: 20px;
    font-weight: 800;
  }
  &__date {
    color: #737373;
  }
  &__delete {
    color: #18ecc0;
    cursor: pointer;
  }


}

.trashIcon {
  margin-right: 8px;
}

.table td {
  cursor: default;
}

.first_table {
  width: 80%;
}

.second_table {
  width: 20%;
  border-left: 2px solid #e8e8e8;
}
