@import '../../theme/modules/_breakpoints';
@import '../../theme/variables.scss';

.table {
  &__column {
    width: 19%;
    border-right: 1px solid #e8e8e8;

    &:first-child {
      width: 24%;
      padding: 5px 0;
    }
  }

  &__row {
    &__data {
      font-family: $font-primary;
      font-size: 28px;
      font-weight: 400;
      text-align: right;
      line-height: 1.2;

      @include max-sm {
        font-size: 22px;
      }

      .number_accent {
        color: $color-accent;

        @include max-xs {
          font-size: 21px;
        }
      }

      span {
        color: $color-accent;
      }
    }

    &__site {
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 3px;

      @include max-xs {
        font-size: 18px;
      }
    }

    &__date {
      color: #737373;
      padding-top: 5px;
      margin-bottom: -7px;
    }

    &__delete {
      border: none;
      background-color: inherit;
      color: $color-accent;
      cursor: pointer;
      opacity: 0.6;
      padding-top: 7px;
      outline: none;
      line-height: 13px;
      font-size: 14px;
      padding-bottom: 0;
      padding-left: 5px;
      transition: all 0.2s ease-in-out;

      &:hover, &:focus {
        color: rgb(148, 0, 0);
        outline: none;
      }

      @include max-xs {
        font-size: 12px;
      }
    }

    &__subtext {
      opacity: 0.6;
      font-size: 12px;
      text-align: right;
      text-transform: uppercase;
    }
  }

  @include max-sm {
    font-size: 0.9;
  }
}

.trashIcon {
  margin-right: 8px;
}
