.button-primary {
  background-color: $color-black;
  border-radius: 30px;
  color: $color-white;
  padding-left: 20px;
  padding-right: 20px;
}

.floatingActionButton {
  background-color: $color-black;
  color: $color-white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
