@import '../../theme/variables';

table {
  margin: 0 0 1rem;
  // background-color: white !important;
  min-width: 900px;

  th {
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $font-color-dark;
    border-top: none !important;
    border-bottom-width: 1px !important;
    border-color: rgba(198, 203, 212, 0.3) !important;
    text-transform: uppercase;
    text-align: right;

    &:first-child {
      padding-left: 0;
      text-align: left;
    }

    svg {
      margin-right: 10px;
    }
  }

  td {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $font-color-dark;
    border-top: none !important;
    border-bottom: 1px solid rgba(198, 203, 212, 0.3) !important;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 300px;
    background-color: white;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      text-align: right;
      padding-right: 30px;
    }
  }

  .toggle-collapse {
    margin-left: 40px;
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;

    &::before, &::after {
      position: absolute;
      top: 0;
      content: '';
      width: 2px;
      height: 8px;
      background-color: #333;
      transition: transform 0.1s ease-in;
      border-radius: 1px;
    }

    &::before {
      right: 0;
      transform: rotate(-135deg);
    }

    &::after {
      left: 0;
      transform: rotate(135deg);
    }
  }

  tr:last-child td {
    border-bottom: none !important;
  }

  .table--inner > td td:last-child {
    text-align: right;

    svg {
      margin-left: 10px;
    }
  }
}

.Home table .table--inner > td td:last-child {
  color: $blue;
}
