@import '../../theme/variables';

table {
  margin: 0 0 1rem;
  background-color: white !important;

  tr {
    td:last-child {
      border: none;

      > div {
        border-left: 1px solid rgba(198, 203, 212, 0.3) !important;
      }

      * {
        text-align: center;
      }
    }
  }

  td {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $font-color-dark;
    border-top: none !important;
    border-bottom: 1px solid rgba(198, 203, 212, 0.3) !important;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 300px;
    padding: 20px !important;
  }
}
