h2 {
  margin-top: 0;
}

@import './breakpoints';

// @font-face{
//   font-family: 'Filson Pro Black';
//   src:url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix');
//   src:url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix') format('eot'),
//       url('../fonts/e437e5a1-8a0c-49cc-9d1c-1bf9f0ebeefd.woff2') format('woff2'),
//       url('../fonts/29c971b8-4e7d-4f33-97a4-2e7b8118344e.woff') format('woff'),
//       url('../fonts/17165492-5428-4183-b671-66f405a6632e.ttf') format('truetype'),
//       url('../fonts/b999b143-f9d7-4dad-b138-9e1d17140ff1.svg#b999b143-f9d7-4dad-b138-9e1d17140ff1') format('svg');
// }
//
// @font-face{
//   font-family: 'Karla';
//   src:url('../fonts/Karla-Regular.eot?#iefix');
//   src:url('../fonts/Karla-Regular.eot?#iefix') format('eot'),
//       url('../fonts/Karla-Regular.woff2') format('woff2'),
//       url('../fonts/Karla-Regular.woff') format('woff'),
//       url('../fonts/Karla-Regular.ttf') format('truetype'),
//       url('../fonts/Karla-Regular.svg#Karla-Regular') format('svg');
// }



// body {
//   font-size: 18px;
//   color: $font-color;
//   font-family: $font-secondary;
// }
//
// h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
//   font-family: $font-primary;
//   color: $font-color;
// }
//
// h1, .h1 {
//   font-size: 80px;
//   margin-bottom: 20px;
//
//   @media #{$max-sm} {
//     font-size: 65px;
//   }
//   @media #{$max-xs} {
//     font-size: 45px;
//   }
//
// }
//
// h2, .h2 {
//   font-size: 60px;
//   margin-bottom: 15px;
//
//   @media #{$max-sm} {
//     font-size: 54px;
//   }
//   @media #{$max-xs} {
//     font-size: 40px;
//   }
// }
//
// h1, .h1, h2, .h2 {
//   small {
//     font-size: 30px;
//     text-transform: uppercase;
//     font-family: $font-secondary;
//     letter-spacing: 5px;
//
//     @media #{$max-xs} {
//       font-size: 24px;
//       letter-spacing: 3px;
//     }
//   }
// }
//
// h3, .h3 {
//   font-size: 38px;
//   margin-bottom: 15px;
//
//   @media #{$max-sm} {
//     font-size: 30px;
//   }
//   @media #{$max-xs} {
//     font-size: 26px;
//   }
//
//   small {
//     font-size: 25px;
//     color: $font-color-light;
//     font-family: $font-secondary;
//     line-height: 1.8;
//
//     @media #{$max-sm} {
//       font-size: 20px;
//     }
//   }
// }
//
// h4, .h4 {
//   font-size: 25px;
//
//   @media #{$max-xs} {
//     font-size: 22px;
//   }
// }
//
// h5, .h5 {
//   font-size: 21px;
//
//   @media #{$max-xs} {
//     font-size: 19px;
//   }
// }
//
// p, li {
//   font-size: 18px;
//   line-height: 175%;
//   font-family: $font-secondary;
//   color: $font-color-light;
// }
//
// p.big, .list.big li {
//   font-size: 21px;
//
//   @media #{$max-xs} {
//     font-size: 19px;
//   }
// }
//
// .list > li {
//   font-weight: bold;
//
//   & > span {
//     color: $font-color-light;
//     font-weight: normal;
//   }
// }
//
// .list.big > li, .list.bigger > li {
//   margin-top: 10px;
// }
//
// .list.bigger > li {
//   font-size: 23px;
//
//   @media #{$max-sm} {
//     font-size: 21px;
//   }
//
//   @media #{$max-xs} {
//     font-size: 19px;
//   }
// }
//
// p a {
//   color: $font-color-light;
//
//   &:hover {
//     //
//   }
// }
//
// mark, p mark {
//   padding: 0;
//   background-color: transparent;
// }
