@import '../../theme/variables';

.list--add {
  border: dashed 4px #e8e8e8;
  border-image-source: url('https://i.imgur.com/kNVhrOh.png');
  border-image-slice: 2;
  border-image-repeat: round;
  border-image: url('https://i.imgur.com/kNVhrOh.png') 2 round;
  padding: 45px 15px !important;

  .list__caption {
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.2s ease-in;
  }

  .fa-plus {
    font-size: 30px;
    transition: all 0.2s ease-in;
  }

  &:hover {
    outline: none;

    .list__caption, .fa-plus {
      color: #18ecc0;
    }
  }
}
