.AddSite {
  width: 260px;
  height: 260px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 14px 15px 0 rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  margin: 10px;
  cursor: pointer;
  border: dashed 4px #e8e8e8;
  border-image-source: url('https://i.imgur.com/kNVhrOh.png');
  border-image-slice: 2;
  border-image-repeat: round;
  border-image: url('https://i.imgur.com/kNVhrOh.png') 2 round;
  font-size: 40px;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s,
    -webkit-transform 0.3s;

  .list {
    &__name {
      font-size: 22px;
      font-weight: 800;
      margin-top: 20px;
      margin-bottom: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 3em;
      text-overflow: ellipsis;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    &__date {
      font-size: 14px;
      color: #737373;
    }
    &__amount {
      font-size: 20px;
      color: #737373;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-10px);
    .list {
      &__name {
        color: #18ecc0;
      }
    }
  }
}
