@import '../../theme/variables';
@import '../../theme/common';

.Home {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;

    div {
      display: flex;
      align-items: center;

      svg {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    button {
      align-self: flex-end;
    }

    h4 {
      margin-bottom: 0;
      font-family: Filson-Black, serif;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
