@import '../../theme/variables';
@import '../../theme/common';

.Home {
  max-width: 1000px;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:20px;
    margin-top: 50px;

    div {
      display: flex;
      align-items: center;

      svg {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    button {
      align-self: flex-end;
    }

    h2 {
      margin-bottom: 0;
    }

  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
