.invoice--cell {
  span:not(.status) {
    display: inline-block;
    width: calc(100% - 13px);
  }

  .status {
    background-color: #eee;
  }
}

.skeleton-load {
  span {
    line-height: 1.5;
    min-height: 81px;
  }

  td {
    width: 19%;
    border-right: 1px solid #e8e8e8;

    &:first-child {
      width: 24%;
      padding: 5px 0;
    }
  }
}
