@import '../../theme/variables';

.nav {
  &bar {
    background-color: $color-blue;

    &-nav {
      justify-content: space-between;
      width: 100%;

      > div {
        display: flex;
        align-items: center;
      }

      .dropdown.nav-item {
        padding: 15px 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
      }
    }
  }

  &.navbar-expand-md {
    padding: 0;
  }

  &bar-brand {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 15px !important;

    img {
      width: 170px;
      height: auto;
      padding: 22px 1rem;
    }
  }

  &-link {
    color: $font-color-light;
    opacity: 0.65;
    transition: 0.15s opacity ease-in;

    svg {
      font-size: 25px;
      margin-right: 10px;
      vertical-align: bottom;
    }

    &:hover {
      opacity: 1;
      color: $font-color-light;
    }
  }

  &-tabs {
    border-color: $transparent !important;

    .nav-link {
      cursor: pointer;

      &.active {
        color: $color-light-blue !important;
        background-color: $color-white !important;
        border-bottom: 3px solid $color-light-blue !important;
        border-right-color: $transparent !important;
        border-left-color: $transparent !important;
        border-top-color: $transparent !important;
      }

      &:not(.active) {
        &:hover {
          border-color: $transparent !important;
        }
      }
    }
  }
}

.tab__container {
  background-color: $color-white;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
}
