@import '../../theme/variables';
@import '../../theme/common';

.nav {
  margin-bottom: 40px;

  &bar {
    position: static !important;

    &--wrapper {
      position: relative;
      background-color: $color-white;
      box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &-nav {
      justify-content: space-between;
      width: 100%;
      color: rgb(102, 102, 102);

      > div {
        display: flex;

        > li {
          margin: auto;

          > a {
            position: relative;
            transition: all 0.2s ease;
            font-size: 16px;
            padding: 20px 10px;

            span {
              &::after {
                position: absolute;
                content: '';
                background-color: $color-accent;
                transition: left 0.25s, right 0.25s;
                left: 50%;
                right: 50%;
                bottom: 0;
                height: 2px;
              }
            }

            &.active {
              span::after {
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
              }
            }

            &:hover::after {
              left: 0;
              right: 0;
            }
          }
        }
      }

      .dropdown.nav-item {
        padding: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: auto;
        margin-bottom: auto;

        a {
          padding: 10px 15px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          font-size: 16px;

          span:first-child {
            border: solid 1px #e8e8e8;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-user {
              color: $color-accent;
              font-size: 14px;
            }
          }

          span:last-child {
            display: none;
          }
        }
      }
    }

    &-toggler {
      padding: 20px 0.75rem !important;

      .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: $color-black;
        transition: all 0.3s ease-in-out;

        &+.icon-bar {
          margin-top: 4px;
        }

        &:nth-last-child(3) {
          transform: rotate(45deg) translate(5px, 4px);
        }

        &:nth-last-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg) translate(4px, -4px);
        }
      }

      &.collapsed .icon-bar {
        transform: none;

        &:nth-last-child(2) {
          opacity: 1;
        }
      }
    }
  }

  &.navbar-expand-md {
    padding: 0;
  }

  &bar-brand {
    color: $color-black;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 !important;
    transition: opacity 0.2s;

    img {
      width: 170px;
      height: auto;
      padding: 20px 15px;
    }

    &:hover {
      opacity: 0.8
    }
  }

  &-link {
    color: $color-black;
    opacity: 0.65;
    transition: 0.15s opacity ease-in;

    svg {
      font-size: 25px;
      vertical-align: bottom;
    }

    &:hover {
      opacity: 1;
      color: $color-black;
    }
  }

  &-tabs {
    border-color: $transparent !important;

    .nav-link {
      cursor: pointer;
      padding: 13px 1rem;

      &.active {
        color: $color-light-blue !important;
        background-color: $color-white !important;
        border-bottom: 3px solid $color-light-blue !important;
        border-right-color: $transparent !important;
        border-left-color: $transparent !important;
        border-top-color: $transparent !important;
      }

      &:not(.active) {
        &:hover {
          border-color: $transparent !important;
        }
      }
    }
  }

  .dropdown-menu {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: calc(100% + 2px);
    padding: 0;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.08);

    a.dropdown-item {
      padding-top: 10px;
      padding-bottom: 10px;

      &:active {
        color: $color-accent !important;
        background-color: $color-white;
      }
    }
  }

  @include max-sm {
    .dropdown.nav-item {
      span {
        margin: 0 5px;
        display: flex !important;
      }
    }

    &bar > div {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background: white;
      z-index: 10;
    }

    a.dropdown-item {
      padding-top: 0 !important;
    }

    &bar-nav > div > li {
      width: 100%;

      > a {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;

        span {
          position: relative;

          &::after {
            bottom: -5px !important;
          }
        }
      }
    }
  }
}
