@import '../../theme/variables';

.nav {
  margin-bottom: 40px;

  &bar {
    background-color: $color-white;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.08);

    &-nav {
      justify-content: space-between;
      width: 100%;
      color: rgb(102, 102, 102);

      > div {
        display: flex;
        margin-bottom: 20px;
        margin-top: 20px;

        > li {
          margin: auto;

          &.nav-item .nav-link {
            padding-left: 10px;
            padding-right: 10px;
          }

          > a {
            position: relative;
            transition: color 0.25s ease 0s;
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;

            &::after {
              position: absolute;
              content: '';
              background-color: rgb(24, 236, 192);
              transition: left 0.25s, right 0.25s;
              left: 50%;
              right: 50%;
              bottom: 0;
              height: 2px;
            }
            &:hover::after {
              left: 0;
              right: 0;
            }
          }
        }
      }
      .dropdown.nav-item {
        padding: 15px 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  &.navbar-expand-md {
    padding: 0;
  }

  &bar-brand {
    color: $color-black;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 15px !important;

    img {
      width: 170px;
      height: auto;
      padding: 22px 1rem;
    }
  }

  &-link {
    color: $color-black;
    opacity: 0.65;
    transition: 0.15s opacity ease-in;

    svg {
      font-size: 25px;
      margin-right: 10px;
      vertical-align: bottom;
    }

    &:hover {
      opacity: 1;
      color: $color-black;
    }
  }

  &-tabs {
    border-color: $transparent !important;

    .nav-link {
      cursor: pointer;
      padding: 13px 1rem;

      &.active {
        color: $color-light-blue !important;
        background-color: $color-white !important;
        border-bottom: 3px solid $color-light-blue !important;
        border-right-color: $transparent !important;
        border-left-color: $transparent !important;
        border-top-color: $transparent !important;
      }

      &:not(.active) {
        &:hover {
          border-color: $transparent !important;
        }
      }
    }
  }
}
