@import 'modules/breakpoints';
@import 'modules/utility';
@import 'modules/table';

.pagination {
  justify-content: flex-end;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .page-link {
    border-radius: 2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #333;
    border-color: $body-bg !important;
  }

  .page-item.active .page-link {
    color: #333;
    background-color: rgba(0, 173, 228, 0.1);
  }
}

.btn {
  font-size: 14px !important;

  svg {
    font-size: 30px;
  }
}
