$max-xs: '(max-width: 767px)';
$max-sm: '(max-width: 991px)';
$max-md: '(max-width: 1199px)';

$min-sm: '(min-width: 768px)';
$min-md: '(min-width: 992px)';
$min-lg: '(min-width: 1200px)';

$max-width-xxs: 400px;
$max-width-xs: 767px;
$max-width-sm: 991px;
$max-width-md: 1199px;

$min-width-sm: 768px;
$min-width-md: 992px;
$min-width-lg: 1200px;

$color-white: #fff;
$color-black: #000;
$color-light-blue: #00ade4;
$color-blue: #1a2a56;
$color-border: rgba(208, 208, 208, 0.5);
$color-input-placeholder: #787e8c;

$body-bg: #f5f6fa;
$font-color-dark: #333;
$title-color-dark: #2b2b2b;

$font-primary: 'Avenir', serif;

$border-radius: 2.2px;
