$max-xs: '(max-width: 767px)';
$max-sm: '(max-width: 991px)';
$max-md: '(max-width: 1199px)';

$min-sm: '(min-width: 768px)';
$min-md: '(min-width: 992px)';
$min-lg: '(min-width: 1200px)';

$max-width-xxs: 400px;
$max-width-xs: 767px;
$max-width-sm: 991px;
$max-width-md: 1199px;

$min-width-sm: 768px;
$min-width-md: 992px;
$min-width-lg: 1200px;

$color-white: #fff;
$color-black: #000;

$font-primary: 'Helvetica', serif;
$font-color-dark: #333;
