@import '../theme/variables';
@import '../theme/modules/_typography';
@import '../theme/modules/_buttons';

html {
  overflow-y: scroll;
}


@font-face {
  font-family: 'Filson-Black';
  src:url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix');
  src:url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix') format('eot'),
      url('../fonts/e437e5a1-8a0c-49cc-9d1c-1bf9f0ebeefd.woff2') format('woff2'),
      url('../fonts/29c971b8-4e7d-4f33-97a4-2e7b8118344e.woff') format('woff'),
      url('../fonts/17165492-5428-4183-b671-66f405a6632e.ttf') format('truetype'),
      url('../fonts/b999b143-f9d7-4dad-b138-9e1d17140ff1.svg#b999b143-f9d7-4dad-b138-9e1d17140ff1') format('svg');
}

@font-face {
  font-family: 'Karla';
  src:url('../fonts/Karla-Regular.eot?#iefix');
  src:url('../fonts/Karla-Regular.eot?#iefix') format('eot'),
      url('../fonts/Karla-Regular.woff2') format('woff2'),
      url('../fonts/Karla-Regular.woff') format('woff'),
      url('../fonts/Karla-Regular.ttf') format('truetype'),
      url('../fonts/Karla-Regular.svg#Karla-Regular') format('svg');
}

body,
html {
  height: 100%;
  width: 100%;
}

#react-view {
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
}

body {
  background-color: #fafafa;
}
