@import '../theme/variables';
@import '../theme/modules/_typography';
@import '../theme/modules/_buttons';

@import url('https://fonts.googleapis.com/css?family=Karla');

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url('../fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix');
  src: url('../fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix')
      format('eot'),
    url('../fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2') format('woff2'),
    url('../fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff') format('woff'),
    url('../fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf') format('truetype');
}

@import url('http://fast.fonts.net/t/1.css?apiType=css&projectid=0b7fdd78-24f5-4e5c-95f2-a15ae79f6c80');
@font-face {
  font-family: 'Filson-Black';
  src: url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix');
  src: url('../fonts/828474ef-51b5-482b-9996-4e8aab33b4f5.eot?#iefix')
      format('eot'),
    url('../fonts/e437e5a1-8a0c-49cc-9d1c-1bf9f0ebeefd.woff2') format('woff2'),
    url('../fonts/29c971b8-4e7d-4f33-97a4-2e7b8118344e.woff') format('woff'),
    url('../fonts/17165492-5428-4183-b671-66f405a6632e.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: url('../fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2') format('woff2'),
    url('../fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff') format('woff'),
    url('../fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
}

#react-view {
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
}

body {
  background-color: #fafafa;
}
//
// input:focus {
//   outline: none !important;
//   box-shadow: none !important;
// }
