@import '../../theme/variables';
@import '../../theme/modules/breakpoints';

body .form {
  // display: flex;
  margin-top: 60px;
  margin-bottom: 20px;

  &__input {
    flex: 1;
    min-height: 50px;
    border-bottom-left-radius: 28.3px;
    border-top-left-radius: 28.3px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border: solid 0 #979797;
    outline: none;
    // margin-right: 20px;
    // padding-left: 15px;

    @include max-xs {
      border-bottom-left-radius: 0;
      border-top-right-radius: 26px;
    }
  }

  &__button {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 100%;
    outline: none;
    box-shadow: 0 5px 30px rgba(0,0,0,0);
    background-color: $color-black;
    padding: 0;
    color: #fff;
    border: 0;
    min-width: 200px;

    &:focus, &:active {
      outline: none;
    }

    &:hover {
      background: gray;
    }

    @include max-xs {
      border-bottom-left-radius: 26px;
      border-top-right-radius: 0;
      padding: 8px;
    }
  }

}

.react-tagsinput-tag {
  background-color: #fafafa;
  border-radius: 18px;
  border: 1px solid #ccc;
  color: #737373;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  &-invalid {
    background-color: green;
  }
}

.react-tagsinput-input {
  border: 0;
  outline: none;
  margin: 10px;
  margin-top: 12px;
  width: 350px;
}

.react-tagsinput-remove {
  cursor: pointer;
}

.react-tagsinput-tag a::before {
  content: ' ×';
}

.toolTip {
  color: black;
  opacity: 0.3;
}
