@import '../../theme/variables';
@import '../../theme/modules/breakpoints';

body .form {
  // display: flex;
  margin-top: 60px;
  margin-bottom: 20px;

  &__input {
    flex: 1;
    border-radius: 28.3px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border: solid 0 #979797;
    outline: none;
    margin-right: 20px;
    padding-left: 15px;

    > span {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      height: 100%;
      padding: 4px;
      margin-left: -5px;
    }
  }

  &__button {
    cursor: pointer;
    border-radius: 28.3px;
    box-shadow: 0 5px 20px rgba(0,0,0,0);
    background-color: $color-black;
    padding: 0;
    color: #fff;
    border: 0;
    min-width: 160px;
    font-size: 17px !important;

    &:focus, &:active {
      outline: none;
    }

    @include max-xs {
      border-radius: 26px;
      padding: 8px;
    }
  }
}

.search-bar {
  flex-flow: row nowrap;

  @include max-xs {
    flex-flow: column nowrap;

    .form {
      &__input {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &__button {
        width: 100%;
        padding: 11px !important;
      }
    }
  }
}

.react-tagsinput {
  &-tag {
    background-color: #fafafa;
    border-radius: 18px;
    border: 1px solid #eaeaea;
    color: #a2a2a2;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &-invalid {
      background-color: green;
    }

    a::before {
      content: ' ×';
    }
  }

  &-input {
    border: 0;
    outline: none;
    margin: 5px 5px 5px 10px;
    width: 350px;
  }

  &-remove {
    cursor: pointer;
  }
}

.toolTip {
  color: black;
  opacity: 0.3;
}
