@import '../../theme/variables';

.footer {
  .fa-heart {
    color: $color-accent;
  }

  a {
    font-size: 14px;
    color: $color-black;

    > span {
      margin-left: 4px;
      color: $color-black;

      span {
        font-size: 13px;
        font-family: Filson-Black, serif;
      }
    }

    &:hover {
      color: $color-black;
      text-decoration: none;
    }
  }
}
